@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

img{
    max-height: 45px;
    width: fit-content;
}

.titulo{
    font-family: 'Pacifico', cursive;
    margin-left: 5px;
    font-size: large;
}

.menu{
    display: flex;
    justify-content: space-between;
}

.acumuladores{
    display: flex;
    justify-content: center;
    text-align: center;
}

@media (max-width: 800px) {
    .acumuladores h6{
        margin-top: 8%;
    }
}

@media (max-width: 500px) {
    .acumuladores h6 span{
        line-height: 50px;
    }
}